.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6rem;

  &__text {
    margin: 2.5rem 0;
  }

  .button {
    padding: 1.5rem 2.5rem;
    color: $color-light;
    background-color: $color-dark;
    border-radius: 1000rem;
    font-size: 2rem;

    &:hover {
      background-color: $color-brand-primary;
    }
  }
}