.sidebar {
  height: 100%;
  width: 30rem;
  min-width: 30rem;
  position: fixed;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 6rem 4rem;
  box-sizing: border-box;
  background: $color-dark;

  @media #{$breakpoint-medium} {
    width: 100%;
    position: relative;
    padding: 2rem 4rem;
  }

  @media #{$breakpoint-small} {
    padding: 2rem;
  }
}

.sidebar__content {
  display: flex;
  flex-direction: column;
  color: $color-light;

  @media #{$breakpoint-medium} {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
}

.sidebar__title {
  width: 100%;
  border-bottom: 1px solid $color-light;
  padding-bottom: 2rem;
  margin-bottom: 6rem;

  @media #{$breakpoint-medium} {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  a {
    color: $color-light;

    &:hover {
      color: $color-brand-primary;
    }
  }

  h4 {
    margin-bottom: 0.5rem;
    font-size: 2.4rem;

    @media #{$breakpoint-small} {
      font-size: 4rem;
      margin-bottom: 0;
    }
  }

  h5 {
    margin-bottom: 1rem;
    font-weight: 100;

    @media #{$breakpoint-medium} {
      margin-bottom: 0;
    }
  }
}